.container {

}
.container .heroes {
  display: flex;    /* 각각의 요소들 수평으로 만들어 줌 */
  flex-wrap: wrap;  /* 각각의 요소들 묶음 처리해 줄바꿈 가능 */
  justify-content: center; /* 수평정렬 지정 */
  background-color: orange;
  max-width: 700px; /* 최대 가로너비 지정, 700px 이하는 자동 축소*/
  margin: 0 auto;     /* block요소에 가로사이즈 있으면 auto -> 요소(container) 중앙정렬 */
  padding: 40px 20px;
}
.container .heroes .hero {
  width: 80px;    /* border 포함 요소의 크기 */
  height: 84px;
  margin: 4px;    /* 각각의 요소의 외부 여백 */
  border: 3px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;     /* border 사용시 요소의 크기(width,height)를 지정(고정) */
  background-color: #555;
  transform: skewX(-14deg);   /* 요소변환효과 - X출 기울임 (deg는 각도 의미) */
  transition: 0.1s;   /* 변환 전후 상태 자연스럽게 애니메이션처럼 처리 */
}

.container .heroes .hero:hover {  /* 마우스 올렸을 때 */
  background-color: #ff9c00;
  transform: skewX(-14deg) scale(1.3);  /* 크기변환 */
  z-index: 1;/* 요소의 쌓임 순서에 가려지지 않도록 */
}

.container .heroes .hero .image {
  
}